/* ----google font---- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #B5C0D0;
    display: grid;
    place-items: center;
}
h1{
    color: #000;
    border-bottom: 2px solid #c7c7c7;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 2rem;
    line-height: 3rem;
    margin-top: calc(100vh - 82vh);
    background-color: #fff;
    box-shadow: 0px 3px 5px 7px rgba(0, 0, 0, 0.2);
}
form{
    padding: 1rem;
}
.formDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    width: 50%;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 15px;
    font-weight: bold;
}
input:focus{
    background: none;
    outline: none;
}
select{
    width: 50%;
    font-size: 15px;
    font-weight: bold;
}
select:focus{
    outline: none;
}
.btn{
    margin-top: 1.6rem;
    display: grid;
    width: 90%;
    gap: 1rem;
}
.btn button{
    padding: 7px 6px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    background-color: #92C7CF;
    transition: .3s all;
    cursor: pointer;
}
.btn button:active{
    opacity: .8;
    background-color: #B5C0D0;
}
.errorMessage{
    color: red;
    font-size: 15px;
}
#enterBillAmount{
    border: 1px solid #000;
    padding: .1rem;
}
/* ----responsive for small devices---- */
@media (min-width: 400px){
    .container{
        width: 100%;
        display: grid;
        place-items: center;
        padding: 2.5rem 1rem;
    }
    form{
        padding: .4rem;
    }
}